<?php
	$this->headScript()->setAllowArbitraryAttributes(true);
	$this->headScript()->appendFile(
		'/js/dojo/dojo.js',
		'text/javascript',
		array(
			'data-dojo-config' => 'isDebug: true, async: true'
		)
	);
?>

<script>
	require([

				'dojo/dom',
				'dojo/NodeList-dom',
				'dojo/query',
				'dojo/on',
				'dojo/store/Memory',
				'dojo/store/Observable',
				'dojo/request',
				'dojo/_base/array',

				'dijit/form/ValidationTextBox',
				'dijit/form/SimpleTextarea',
				'dijit/form/Select',
//			'dijit/form/FilteringSelect',
				'dijit/form/Button',
				'dijit/Tooltip',

				'dojo/parser',
				'dojox/validate',
				'dojox/validate/check',
				'dojox/validate/web',
				'dojo/keys',
				'dijit/form/Form',
				'dojo/NodeList-traverse',

				'dojo/domReady!'
			],
			function(dom, NodeListDom, query, on, memoryStore, storeObserver, request, array, formTextBox, formTextArea, formSelect, formButton, tooltip, parser, validate){
				query('#metro-element').parent('tr').style('display', 'none');

				var metroStore = new memoryStore({idProperty: 'id', data: []});
				metroObserver = new storeObserver(metroStore);

				updateStorage = function(value){
					var file_url = '/task7/metro';
					request.post(file_url, {handleAs: 'json', data: {city: value}}).then(
						function (data){
							if (!!data.items){
								array.forEach(data.items, function(item){
									metroObserver.put(item, {overwrite: true});
								});
								query('#metro-element').parent('tr').style('display', 'table-row');
							}else{
								clearStore();
							}
						},
						function (err){
							clearStore();
						}
					);
				}

				parser.parse();

				function clearStore(){
					query('#metro-element').parent('tr').style('display', 'none');
					metroObserver.query().forEach(function(item){
						metroObserver.remove(item['id']);
					});
				}

			});

</script>

<h1>Задание 7. Dojo Toolkit и Zend_Form</h1>

<?php
	$this->form->setAction($this->url());
	echo $this->form;
?>