
h2{
	margin-bottom: 0
}

form .country_code{
	width: 30px;
}
form .city_code, form .additional_number{
	width: 60px;
}
form .phone_number{
	width: 120px;
}

.persons_table{
	border-collapse: collapse;
	text-align: left;
}
.persons_table th{
	background: #bbbbbb;
}

.persons_table th, .persons_table td{
	padding: 5px 10px;
	border: 1px solid #000;
}

.persons_table tr:nth-child(even) td{
	background: #EEEEEE;
}