<ul>
    <li><a href="/task1">Задание 1 – Декораторы Zend_Form</a></li>
    <li><a href="/task2">Задание 2 – Кастомные элементы и валидаторы Zend_Form</a></li>
    <li><a href="/task3">Задание 3 – Сохранение и редактирование данных Zend_Form</a></li>
    <li><a href="/task5.html">Задание 5. Dojo Toolkit – Dijit элементы</a></li>
    <li><a href="/task6.html">Задание 6. Dojo Toolkit – Зависимые поля и dojo.data</a></li>
    <li><a href="/task7">Задание 7. Dojo Toolkit и Zend_Form</a></li>
    <li>Задание 8. Логирование всех действий пользователя. Выполняется для всех заданий на ZF (1, 2, 3, 7)</li>
</ul>