<h1>Задание 1 – Декораторы Zend_Form.</h1>

<h2>Форма 1</h2>
<?php
$this->form1->setAction($this->url());
echo $this->form1;
?>

<h2>Форма 2</h2>
<?php
$this->form2->setAction($this->url());
echo $this->form2;