<h1>Задание 3 – Сохранение и редактирование данных Zend_Form</h1>

<p>Всего записей: <?php echo count($this->items); ?></p>
<p><a href="/task3/add">Новая запись</a></p>

<?php
	if (!empty($this->items)){
?>

	<table class="persons_table">
		<thead>
			<tr>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Телефон</th>
				<th>&nbsp;</th>
			</tr>
			<?php
				foreach ($this->items as $item){
			?>
				<tr>
					<td><?= $item['name']?></td>
					<td><?= $item['first_name']?></td>
					<td>
						<?php
							if (!empty($item['phone'])){
								echo '+'.$item['phone']['country_code'].' ('.$item['phone']['city_code'].') '.$item['phone']['phone_number'];
								if (!empty($item['phone']['additional_number'])){
									echo ' (доп. '.$item['phone']['additional_number'].')';
								}
							}
						?>
					</td>
					<td>
						<a href="/task3/edit/id/<?= $item['id'] ?>">изменить</a>
					</td>
				</tr>
			<?php
				}
			?>
		</thead>
	</table>

<?php
	}
?>