<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
	<?php
    	$this->headLink()->appendStylesheet('/js/dijit/themes/claro/claro.css');
	    $this->headLink()->appendStylesheet('/css/main.css');
        echo $this->headLink();

        echo $this->headScript();
    ?>
</head>
<body class="claro">
<div id="header" style="background-color: #EEEEEE; padding: 10px;">
    <div id="header-navigation">
        <a href="/">Главная</a>
    </div>
</div>

<?php echo $this->layout()->content ?>

</body>
</html>
